/* Partner Merchants Table */
.partners-merchants-table {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--section-background);
  box-shadow: 0 0 15px var(--shadow-color);
  border-radius: 10px;
  overflow: hidden;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--separator-color);
  background-color: var(--background-color);
  color: var(--text-color);
  width: 250px;
}

.search-input::placeholder {
  color: var(--text-color);
}

/* Actions Column Styling */
.actions-column {
  width: 80px;
  text-align: center;
}

/* Icon Buttons */
.edit-icon, 
.delete-icon {
  font-size: 1.2rem;
  margin: 0 5px;
  cursor: pointer;
}

/* Blue Pencil (Edit Icon) */
.edit-icon {
  color: #69932f;
}

.edit-icon:hover {
  color: #69932f;
}

/* Red Trashcan Icon (Delete Button) */
.delete-icon {
  color: red;
}

.delete-icon:hover {
  opacity: 0.8;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}

.pagination-btn {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  color: #69932f;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-btn.active {
  background-color: #69932f;
  color: #fff;
  border-color: #69932f;
}

.pagination-btn:not(.active):hover {
  background-color: #eaf3de;
  color: #69932f;
}
